@charset "utf-8";
/*
   Author: 
   Modified By: 
   Date:
   
   Filename: 

*/
html {
	background-color: white;
}

.background-image {
  background-image: url("../photos/background_code.png"), url("../photos/background_score.png"),
		linear-gradient(to right, rgba(180, 255, 240, 1), rgba(188, 170, 255, 1));
	background-position: left,
		right;
	background-repeat: no-repeat,
		no-repeat,
		repeat-y;
	position: fixed;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
	background-attachment: fixed;
	filter:alpha(opacity=80);
}

body {
	display: block;
	background-color: white;
	margin: 15px auto;
	border: 0.5em groove #6d066d;
	border-radius: 2.0em;
	padding: 15px;
	max-width: 820px;
	z-index: auto;
}
/* Nav Bar Styles */
nav {
	display: inline-block;
	background-color: white;
	margin-left: -23px;
	margin-right: -23px;
	margin-top: -40px;
	border: 0.5em groove #6d066d;
	border-radius: 2.0em;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

nav li {
	display: inline-block;
	margin-left: -23px;
	margin-right: 55px;
	margin-top: -40px;
	margin-bottom: -40px;
}

a {
	display: inline-block;
	padding-right: -8px;
	padding-left: -8px;
	padding-top: 2px;
	padding-bottom: 2px;

}

#button_souncloud {
	display: inline-block;
	float: left;
}

#nav_search {
	display: inline-block;
	float: right;
}

h2, h3 {
	text-align: center;
}
/* ... Styles */

/* ... Styles */

/* footer Styles */
footer {
	display: block;
	text-align: center;
	background-color: white;
	margin-left: -23px;
	margin-right: -23px;
	margin-bottom: -23px;
	border: 0.5em groove #6d066d;
	border-radius: 2.0em;
	padding: 5px;
}

/* End of Document */